* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Farsan", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-size: 62.5%;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 2.5rem;
}
h2,
h3 {
    font-weight: 500;
}
:root {
    --primary-color: #f3f3f3;
    --danger-color: #ec368d;
    --text-color: #000;
    --text-invert-color: #ffefd5;
    --sky-blue-crayola: #51e5ff;
    --indigo: #440381;
    --magenta-process: #ec368d;
    --light-pink: #ffa5a5;
    --unbleached-silk: #ffd6c0;
}
body {
    background-color: #f5f5f5;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}
main {
    text-align: center;
    min-height: 75vh;
    margin: auto;
}
label {
    font-size: 20px;
}
input,
select,
textarea {
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul li {
    list-style: none;
}
.button-action {
    margin: 10px;
    padding: 1rem 0;
    font-size: 20px;
    width: 30rem;
    text-align: center;
    background-color: #51c185;
    border-radius: 8px;
    box-shadow: 0 5px 15px #000;
    cursor: pointer;
}
.danger-color {
    background-color: #fbb70a;
}
.steps-active {
    color: #fff;
    background-color: #440381;
    background-color: var(--indigo);
}
.form {
    max-width: 60rem;
    margin: 0 auto;
}
.form > div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 1rem;
}
.form label {
    margin: 1rem 0;
}
.row.center {
    -webkit-justify-content: center;
    justify-content: center;
}
.row.top {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.row.start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.col-1 {
    -webkit-flex: 1 1 25rem;
    flex: 1 1 25rem;
}
.col-2 {
    -webkit-flex: 2 1 50rem;
    flex: 2 1 50rem;
}
.col-3 {
    -webkit-flex: 32 1 75rem;
    flex: 32 1 75rem;
}
.min-30 {
    min-width: 30rem;
}
.p-1 {
    padding: 1rem;
}
.card {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: space-evenly;
    border: 0.2rem solid silver;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 2rem;
}
.card-body {
    padding: 1rem;
}
.card-body > * {
    margin-bottom: 0.5rem;
}
.price {
    font-size: 2rem;
}
img {
    border-radius: 0.5rem;
}
img.small {
    max-width: 5rem;
    width: 100%;
}
img.medium {
    max-width: 29rem;
    width: 100%;
}
.header,
img.large {
    width: 100%;
}
.header {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    background: var(--primary-color);
    height: 10vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}
#username {
    color: var(--magenta-process);
    text-decoration: underline;
}
#cart {
    width: 30px;
}
.header__list {
    display: -webkit-flex;
    display: flex;
}
.header__list-item {
    margin-right: 25px;
}
.header h1,
.header ul {
    margin: 0 1em;
}
header a {
    color: var(--text-color);
    padding: 1rem;
    margin-right: 50px;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.2s ease;
}
header a:hover {
    text-decoration: underline;
    color: var(--magenta-process);
}
a.brand {
    color: var(--text-color);
    font-weight: 700;
}
.badge {
    background-color: #f02020;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.7rem;
    font-size: 1.4rem;
    margin-left: 0.2rem;
}
.row {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    position: absolute;
    display: none;
    right: 0;
    min-width: 200px;
    z-index: 1;
    background-color: var(--primary-color);
    margin: 0.4rem 0 0;
    border-radius: 0.5rem;
    font-size: 1.8rem;
}
.dropdown:hover .dropdown-content {
    display: block;
}
@media only screen and (max-width: 600px) {
    .header h1,
    .header ul {
        margin: 0;
    }
    .header__list-item {
        margin-right: 5px;
    }
}
.products {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
}
h1 {
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
}
.banner {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/celina-tienda.appspot.com/o/assets%2Fboth%2Fbanner3c.jpg?alt=media&token=a449b5fc-84cd-4a54-83c7-305db7ed6b85);
    background-size: cover;
    height: 70vh;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.banner--text {
    position: absolute;
    color: #f0f8ff;
    font-size: 30px;
    font-weight: 500;
}
.home--categories {
    margin: 100px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.home--categorie {
    cursor: pointer;
    height: 400px;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
}
.home--categories__img {
    max-width: 80%;
    max-height: 80%;
    transition: all 0.3s ease-in-out;
}
.home--categories__img:hover {
    max-width: 90%;
    max-height: 90%;
}
.benefits {
    background-color: #ffefd5;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding: 50px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.benefits img {
    height: 70px;
    width: 70px;
}
.product {
    -webkit-flex-basis: 33%;
    flex-basis: 33%;
    cursor: pointer;
    margin-bottom: 20px;
}
.product-admin {
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    cursor: pointer;
}
.product-image {
    max-width: 24rem;
    max-height: 24rem;
}
.product-image-small {
    max-width: 10rem;
    max-height: 10rem;
}
.product-detail {
    display: -webkit-flex;
    display: flex;
    justify-content: space-evenly;
    -webkit-align-items: center;
    align-items: center;
    color: var(--text-color);
}
.product-detail h3 {
    font-size: 1.8rem;
}
.product-detail strong {
    font-size: 2rem;
    font-weight: 500;
}
@media only screen and (max-width: 600px) {
    .product {
        padding-bottom: 20px;
    }
    .product-image {
        max-width: 14rem;
        max-height: 14rem;
    }
}
.details {
    width: 90%;
    margin: 30px auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}
.details h4 {
    font-size: 2.4rem;
    text-align: center;
}
.details__product {
    position: relative;
    overflow: hidden;
    width: -moz-fit-content;
    width: fit-content;
}
.details__buy {
    width: 90%;
    margin: 1rem 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
#size {
    font-size: 20px;
    width: 15rem;
}
#quantity {
    font-size: 20px;
    width: 30rem;
    text-align: center;
    padding: 0.3rem 0;
}
p {
    margin: 2rem 0;
    font-size: 2rem;
}
@media only screen and (min-width: 800px) {
    .details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
}
.cart-items {
    width: 90%;
    margin: auto;
}
.cart {
    min-height: 70vh;
    background-size: contain;
}
.cart-item__image {
    max-width: 10rem;
    margin: 10px;
}
.cart-item {
    margin: 1rem 0;
    border: 1px solid;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.cart-select {
    width: 10rem;
    margin: 10px 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 5px 15px;
}
.subtotal li {
    margin: 50px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .button-delete {
        padding: 0;
        width: 8rem;
    }
}
.register {
    min-height: 90vh;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.register-form {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 60rem;
    margin: 0 auto;
    color: var(--text-invert-color);
}
.register-form,
.wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}
.wrapper {
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(12, 109, 220, 0.29);
    border-radius: 9px;
    color: #fff;
}
.register-form input::-webkit-input-placeholder {
    color: var(--text-invert-color);
}
.register-form input:-ms-input-placeholder {
    color: var(--text-invert-color);
}
.register-form h1,
.register-form input::placeholder,
.register-form label {
    color: var(--text-invert-color);
}
.register-form > div {
    color: var(--text-invert-color);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0.3rem;
    font-size: 18px;
}
.register-form label {
    margin: 1rem 0;
}
.register-form input {
    color: var(--text-invert-color);
    background-color: hsla(0, 0%, 96.1%, 0.2);
}
.register button {
    margin-bottom: 1rem;
    background-color: #dca80c;
}
.register a {
    color: var(--danger-color);
}
.google {
    background-color: var(--text-invert-color);
    color: var(--text-color);
    display: -webkit-flex;
    display: flex;
    height: 50px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.register {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/celina-tienda.appspot.com/o/assets%2Fmobile%2Fpexels-anna-shvets-4556686.jpg?alt=media&token=d91d3139-1538-46da-830e-94cf7862da9c);
    background-size: cover;
}
footer figure {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
@media only screen and (min-width: 800px) {
    .register {
        background-image: url(https://firebasestorage.googleapis.com/v0/b/celina-tienda.appspot.com/o/assets%2Fdesktop%2Fpexels-koolshooters-7346340.jpg?alt=media&token=0992d008-cd8e-4533-900d-435c8a696fb6);
    }
    .register-form {
        padding: 2rem;
    }
    .wrapper label {
        font-size: 24px;
    }
}
h2 {
    font-size: xx-large;
    margin-bottom: 1em;
}
.input,
h2 {
    color: var(--text-color);
}
.input {
    background-color: hsla(0, 0%, 100%, 0.1);
    border: 2px solid var(--text-color);
    border-radius: 25px;
    font-size: 1.6em;
    height: 50px;
    margin-bottom: 2em;
    padding: 0 25px;
    width: 40%;
    font-family: "Muli", sans-serif;
    outline: none;
}
::-webkit-input-placeholder {
    color: var(--text-color);
}
:-ms-input-placeholder {
    color: var(--text-color);
}
::placeholder {
    color: var(--text-color);
}
.searchBar {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 70%;
    margin: 15px auto auto;

}
@media only screen and (max-width: 600px) {
    .input {
        width: 90%;
    }
}
#add-item {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: var(--danger-color);
    color: var(--text-color);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1;
}
.product {
    height: min-content;
    transition: box-shadow 0.3s;
}
.product-image:hover {
    background-color: rgba(33, 33, 33, 0.8);
}
.modal,
.modal-edit {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content,
.modal-content-edit {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.description {
    height: 100px;
    max-width: inherit;
}
.product-form {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 60rem;
    margin: 0 auto;
    color: var(--text-color);
}
.product-form,
.product-form > div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.product-form > div {
    margin: 0.3rem;
    font-size: 18px;
}
.product-form label {
    margin: 1rem 0;
}
.product-form input {
    background-color: hsla(0, 0%, 96.1%, 0.2);
}
.close,
.close-edit,
.product-form > div,
.product-form h2 {
    color: var(--text-color);
}
.close,
.close-edit {
    float: right;
    font-size: 28px;
    font-weight: 700;
}
.close-edit:focus,
.close-edit:hover,
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    #add-item {
        bottom: 10px;
        right: 10px;
    }
}
.admin h1 {
    color: #426696;
    font-weight: 600;
    font-size: 2rem;
    opacity: 0.8;
}
.admin h2,
.admin p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}
.admin h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}
.admin {
    font-family: "Poppins", sans-serif;
    min-height: 80vh;
    margin: auto;
    background: linear-gradient(to right top, #b6b6b6, #5d5d5d);
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.admin,
.glass {
    display: -webkit-flex;
    display: flex;
}
.glass {
    padding: 10px;
    background: #fff;
    width: 95%;
    height: 70%;
    background: linear-gradient(to right bottom, hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.3));
    border-radius: 1rem;
    z-index: 2;
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
}
.circle1,
.circle2 {
    background: #fff;
    background: linear-gradient(to right bottom, hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}
.circle1 {
    top: 20%;
    right: 15%;
}
.circle2 {
    bottom: 25%;
    left: 10%;
}
.dashboard {
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.3));
    border-radius: 2rem;
}
.admin-tabs,
.dashboard {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.admin-tabs {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    font-size: 24px;
    margin: 10px;
    padding: 10px 20px;
    width: 100%;
    background-color: rgba(34, 199, 212, 0);
    border: none;
    cursor: pointer;
}
.admin-tabs:hover {
    background-color: rgba(34, 199, 212, 0.4);
    border-radius: 55%;
}
.pro {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: #fff;
    padding: 1rem;
    position: relative;
}
.pro img {
    position: absolute;
    top: -10%;
    right: 10%;
}
.pro h2 {
    width: 40%;
    color: #fff;
    font-weight: 600;
}
.admin-content {
    display: none;
    -webkit-flex: 2 1;
    flex: 2 1;
    max-height: 70vh;
    overflow: auto;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.active-content-active {
    display: -webkit-flex;
    display: flex;
}
.table {
    font-family: sans-serif;
    width: 100%;
    border-collapse: collapse;
    font-size: 24px;
}
.table tbody tr:nth-of-type(odd) {
    background-color: #f4f4f4;
}
.table td,
.table th {
    text-align: left;
    border: 0.1rem solid #252121;
    padding: 0.5rem;
}
.table button {
    margin: 0 0.2rem;
    font-size: 24px;
}
.table a {
    text-decoration: none;
    color: #000;
}
.row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.checkout-steps > div {
    color: silver;
    -webkit-flex: 1 1;
    flex: 1 1;
    padding: 1rem;
    font-weight: 700;
}
.checkout-steps > div.steps-active {
    border-top-color: var(--unbleached-silk);
    color: var(--text-invert-color);
}
.shipping {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.shipping button {
    font-size: 1.8rem;
}
@media only screen and (max-width: 800px) {
    aside > img {
        display: none;
    }
    .shipping {
        grid-template-columns: 1fr;
    }
    .button-delete {
        padding: 0;
        width: 8rem;
    }
}
.place-order {
    font-size: 1.8rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.place-order button {
    margin-top: 10px;
    font-size: 1.8rem;
    width: 100%;
}
aside > img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
}
@media only screen and (max-width: 800px) {
    aside > img {
        display: none;
    }
    .place-order {
        grid-template-columns: 1fr;
    }
    .button-delete {
        padding: 0;
        width: 8rem;
    }
}
footer {
    background-color: #ece1f1;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}
footer div {
    margin-left: 20px;
}
footer h2 {
    text-align: center;
    margin: 1rem;
    font-size: 2.2rem;
}
footer a {
    margin: 15px;
    color: #000;
}
footer a:hover {
    color: #00f;
}
footer figure,
footer ul li {
    font-size: 20px;
}
footer ul li {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    list-style: disc;
}
@media only screen and (max-width: 800px) {
    footer {
        grid-template-columns: 1fr;
    }
    footer div {
        text-align: center;
    }
}
.ProfileSection {
    width: 90%;
    margin: 20px auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.ProfileMenu {
    height: 270px;
    width: 270px;
    overflow: auto;
    border: 1px solid #d8bfd8;
    border-radius: 9px;
}
.ProfileMenu p {
    margin-left: 10px;
}
.ProfileMenu ul li {
    list-style: none;
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid #000;
    padding: 10px;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
}
.ProfileMenu ul li:last-child {
    border: none;
}
.ProfileOptions {
    margin: auto;
}
.PForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
}
.PForm input {
    padding: 10px;
}
.PForm fieldset {
    border: none;
}
.PForm input,
.PForm label {
    margin: 10px;
    border: none;
}
.PForm button {
    grid-column: 1/3;
    width: 80%;
    margin: 10px 0 0 auto;
}
.PForm-city select {
    width: 200px;
}
@media only screen and (max-width: 600px) {
    .banner {
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        height: 30vh;
    }
    .home--categorie {
        -webkit-flex-basis: 50%;
        flex-basis: 50%;
        height: auto;
    }
}
/*# sourceMappingURL=main.ed2972b5.chunk.css.map */
