.product{
    flex-basis: 33%;
    cursor: pointer;
    margin-bottom: 20px;
}
.product-admin{
    flex-basis: 20%;
    cursor: pointer;
}

.product-image{
    max-width: 24rem;
    max-height: 24rem;
}

.product-image-small{
    max-width: 10rem;
    max-height: 10rem;
}

.product-detail{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text-color);
}
.product-detail h3{
    font-size: 1.8rem;
}
.product-detail strong{
    font-size: 2rem;
    font-weight: 500;
}
@media only screen and (max-width: 600px) {
    .product{
        padding-bottom: 20px;
    }
    .product-image{
        max-width: 14rem;
        max-height: 14rem;
    }
}
