h2{
    color: var(--text-color);
    font-size: xx-large;
    margin-bottom: 1em;
}
.input{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid var(--text-color);
    border-radius: 25px ;
    color: var(--text-color);
    font-size: 1.6em;
    height: 50px;
    margin-bottom: 2em;
    padding: 0 25px;
    width: 40%;
    font-family: 'Muli', sans-serif;
    outline: none;
}
::placeholder{
    color: var(--text-color);
}
.searchBar{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .input{
        width: 90%;
    }
}
