.details{
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details h4{
    font-size: 2.4rem;
    text-align: center;
}

.details__product{
    position: relative;
    overflow: hidden;
    width: fit-content;
}

.details__buy{
    width: 90%;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

}
#size {
    font-size: 20px;
    width: 15rem;
}
#quantity{
    font-size: 20px;
    width: 30rem;
    text-align: center;
    padding: 0.3rem 0;

}

p{
    margin: 2rem 0;
    font-size: 2rem;
}

@media only screen and (min-width: 800px) {
    .details{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;

    }

}
