.button-action{
    margin :10px 0;
    padding: 1rem 0;
    font-size: 20px;
    width: 30rem;
    text-align: center;
    background-color: #51C185;
    border-radius: 8px;
    box-shadow: 0 5px 15px ;
}
