.product{
    display: flex;
    flex-basis: 33%;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}

.product-image{
    max-width: 24rem;
    max-height: 24rem;
}

.product-detail{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text-color);
}
.product-detail h3{
    font-size: 1.8rem;
}
.product-detail strong{
    font-size: 2rem;
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .product{
        padding-bottom: 20px;
    }
}
