h2{
    color: whitesmoke;
    font-size: xx-large;
    margin-bottom: 1em;
}
.input{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 25px ;
    color: white;
    font-size: 1.6em;
    height: 50px;
    margin-bottom: 2em;
    padding: 0 25px;
    width: 70%;
    font-family: 'Muli', sans-serif;
    outline: none;
}
::placeholder{
    color: white;
}
.home--SearchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .input{
        width: 90%;
    }
}
