* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Farsan', sans-serif;
}
html{
  font-size: 62.5%;
}
h1{
  font-size: 32px;
}
h2{
  font-size: 2.5rem;
  font-weight: 500;
}
h3{
  font-weight: 500;
}


:root{
  --primary-color: #f3f3f3;
  --danger-color : #ec368dff;
  --text-color : #000000;
  --text-invert-color: papayawhip;
  --sky-blue-crayola: #51e5ffff;
  --indigo: #440381ff;
  --magenta-process: #ec368dff;
  --light-pink: #ffa5a5ff;
  --unbleached-silk: #ffd6c0ff;
}

body {
  background-color: whitesmoke;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  text-align: center;
  min-height: 75vh;
  margin: auto;
}
label{
  font-size: 20px;
}
input,
select,
textarea{
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul li{
  list-style: none;
}


.button-action{
  margin :10px 10px;
  padding: 1rem 0;
  font-size: 20px;
  width: 30rem;
  text-align: center;
  background-color: #51C185;
  border-radius: 8px;
  box-shadow: 0 5px 15px black;
  cursor: pointer;
}
.danger-color{
  background-color: #FBB70A;
}
.active{
  color: white;
  background-color: var(--indigo);
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}

/*External*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 2rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}


/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}