* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Farsan', cursive;
}
html{
  font-size: 62.5%;

}

:root{
  --primary-color: #5773fd;
}

body {
  background-image: linear-gradient(to bottom, var(--primary-color) ,blueviolet);
}

