* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Farsan', cursive;
}
html{
  font-size: 62.5%;

}

:root{
  --primary-color: #bea8f6;
  --danger-color : #FBB70A;
  --text-color : #000000
}

body {
  background-color: #DFD2FA;
}

input,
select,
textarea{
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.button-action{
  margin :10px 10px;
  padding: 1rem 0;
  font-size: 20px;
  width: 30rem;
  text-align: center;
  background-color: #51C185;
  border-radius: 8px;
  box-shadow: 0 5px 15px black;
  cursor: pointer;
}
.danger-color{
  background-color: #FBB70A;
}

