* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #5773fd;
}

body {
  font-family: 'Muli', sans-serif;
  background-image: linear-gradient(to bottom, var(--primary-color) ,blueviolet);

}

