#add-item{
   	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:var(--danger-color);
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:1;
}
.products{
    min-height: 90vh;

}

.product{
    height: min-content;
    transition: box-shadow .3s;

}

.product-image:hover {
  background-color: rgba(33,33,33,.8);
}


/* The Modal (background) */
.modal, .modal-edit {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content, .modal-content-edit {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.description{
    height: 100px;
    max-width: inherit;
}
.register-form > div {
    color: var(--text-color);
}

.register-form h2 {
    color: var(--text-color);
}
/* The Close Button */
.close, .close-edit {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus, .close-edit:hover, .close-edit:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px){
    #add-item{
        bottom: 10px;
        right:10px;
    }
}
