.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 1rem auto auto;
}
.center{
    text-align: center;
}
h1{
    list-style: none;
    text-decoration: none;
    text-underline: none;
    color: var(--text-color);
}
.hero{
    display: grid;
    grid-gap: 10px;
    width: 90%;
    margin: 5em auto 75px auto;
    /*margin: auto;
    margin-top: 5em;*/
}

.hero--hotproduct{
    outline: 1px solid black;
    cursor: pointer;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/celina-tienda.appspot.com/o/assets%2Fcategory.svg?alt=media&token=6d903e02-b690-4c25-aa20-bfce4598f885");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}
.hero--hotproduct:nth-child(1){

    background-image: linear-gradient( rgba(31, 75, 114, 0.85), rgba(111, 204, 115, 0.62));
}
.hero--hotproduct:nth-child(2){

}
.hero--hotproduct:nth-child(3){

             /* optional, center the image */

}
.hero--hotproduct:nth-child(4){
}
.hero--hotproduct:nth-child(5){

}

.hero--hotproduct:nth-child(6){
    grid-column: span 1;
    grid-row: span 1;

}
/*Celular*/
@media only screen and (max-width: 600px) {
    .products{
        justify-content: center;
        margin: 1rem auto auto;
    }
    .hero{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 200px);
    }
    .hero--hotproduct{
        grid-column: span 1;
    }
    .hero--hotproduct:nth-child(1){
        grid-column: span 2;
    }
    .hero--hotproduct:nth-child(2){
        grid-column: span 2;
        grid-row: span 1;
    }
}
/*Tablet*/
@media only screen and (min-width: 600px) {

    .hero{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(6, 200px);
    }

    .hero--hotproduct:nth-child(1){
        grid-column: 1/-1;
    }

    .hero--hotproduct:nth-child(2){
        grid-column: span 2;
        grid-row: span 1;
    }
    .hero--hotproduct:nth-child(3){
        grid-column: 3/4;

    }

}

/*Desktop*/
@media only screen and (min-width: 768px){

    .hero{
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(4, 135px);
    }

    .hero--hotproduct{
        outline: 1px solid black;
        cursor: pointer;

    }
    .hero--hotproduct:nth-child(1){
        grid-column: 1/-1;
        grid-row: span 2;
    }
    .hero--hotproduct:nth-child(2){
        grid-column: span 3;
        grid-row: span 2;
                   /* optional, center the image */
    }
    .hero--hotproduct:nth-child(3){
        grid-column: span 2;
        grid-row: span 2;
    }
    .hero--hotproduct:nth-child(4){
        grid-column: span 2;
    }
    .hero--hotproduct:nth-child(5){
        grid-column: span 1;
        grid-row: span 1;
    }

    .hero--hotproduct:nth-child(6){
        grid-column: span 1;
        grid-row: span 1;

    }

}
/*TVs*/
@media only screen and (min-width: 1201px){

    .hero{
        width: 70%;
    }

}
