.register{
    min-height: 90vh;
    margin: auto;
        display: flex;
    justify-content: center;
    align-items: center;
}
.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    background-color: rgba(89, 175, 255, 0.287);
    border-radius: 9px;

}
.register-form {
    max-width: 60rem;
    margin: 0 auto;
}
.register-form > div {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
    font-size: 18px;
}
.register-form label {
    margin: 1rem 0;
}

.register button{
    margin-bottom: 1rem;
}



.register a{
    color: var(--danger-color);
}

.google{
    background-color: whitesmoke;
    color: var(--text-color);
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (min-width: 768px){
    .wrapper{
        padding: 50px;
    }
}
